img {
  position: relative;
  animation: slideright 1s ease forwards;
  opacity: 0;
}

@keyframes slideright {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.txt {
  position: relative;
  animation: slideleft 1s ease forwards;
  opacity: 1;
}

@keyframes slideleft {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
