.box {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: red;
  animation: test 5s;
}

@keyframes test {
  0% {
    transform: rotate(0deg);
    top: 1px;
    left: 0%;
  }
  100% {
    transform: rotate(360deg);
    top: 1px;
    left: 88%;
  }
}

@keyframes fade {
  0% {
    transform: rotate(0deg);
    filter: opacity(0%);
    background-color: red;
  }
  100% {
    transform: rotate(180deg);
    filter: opacity(100%);
    background-color: yellow;
  }
}

@keyframes demo {
  0% {
    top: 10px;
    left: 0%;
  }
  25% {
    top: 10px;
    left: 88%;
    background-color: yellow;
  }
  50% {
    top: 430px;
    left: 88%;
    background-color: green;
  }
  75% {
    top: 430px;
    background-color: blue;
    left: 0%;
  }
  100% {
    top: 10px;
    left: 0%;
    background-color: black;
  }
}
